@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    justify-content: center;
    align-items: center;
    background-color: beige;
}

.wrapper>h1{
    font-family: Poppins,sans-serif;
    border-bottom: 2px solid rgb(150, 91, 91);
}

.container{
    position: relative;
    height: 47px;
    width: 132.59px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button{
    height: 21px;
    width: 59px;
    background-color: #e84949;
    padding: 12.8px 36.8px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.3);
    cursor: pointer;
    
}

.button2{
    position: absolute;
    left: 0%;  
    height: 47px;
    background-color: #1f1f1f;
    width: 0px;
    transition: width 0.8s ease;
    cursor: pointer;
}

.container:hover .button2{
    width: 132.59px;
}

.container>h1{
    font-weight: 100;
    position: absolute;
    color: white;
    font-size: 18px;
    cursor: pointer;
}